*,*:before,*::after{
  margin: 0;
  padding: 0;
  border:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
}
body{
  font: Arial,"Helvetice Neue",Helvetica, sans-serif;
  min-width:1170px;
}
.wrapper{
  display: flex;
  overflow:hidden;
  min-height: 100%;
  flex-direction: column;
}
.container{
  margin-left:20%;
  margin-right:20%;
}
@media screen and ( max-width:1400px){
  .container{
    margin-right:auto;
    margin-left:auto;
  }
}
.header{
  height:60px;
  display: flex;
  align-items: center;
  background-color:#5e5373
}

.header__rectangle{
  background-color: #eee49a;
  height:3vh;
  width:10vh;
}
.header__row{
  display: flex;
  justify-content: space-between;
}
.header__row div{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap
}
.header__block{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  gap:15px;
}


.main__item{
  background-color: rgb(11,164,166);
  display: flex;
  padding:14px;
  flex-direction: column;
  justify-content: center;
  height:100%;
  width:100%;
  align-items: center;
  color: #fff;
}
.main__text{
  width:100%;
  user-select: none;
}
.second{
  margin-left:20px;
  margin-right:20px;
}
.main__three{
  margin-top:40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
@media screen and (max-width:756px) {
  .main__three{
    margin-top:40px;
    display: flex;
    flex-direction: column;
  }
}
.main_second{
  margin-top:40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.main__rectangle{
}

